@charset "utf-8";
@media ( max-width:767px ){
    /* 모바일 css */
    .cursor{
        display: none;
    }
    /* header */
    header{
        width: 100%;
        height: 70px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
        z-index: 10;
    }
    header .header_wrap .gnb,
    header .header_wrap .gnb.on,
    header .header_wrap .gnb li a{
        display: none
    }
    header .header_wrap .btn_menu,
    header .header_wrap .btn_menu.on{
        width: 36px;
        height: 30px;
        top: 24%;
        background-size: 36px;
    }
    #fullpage .section{
        font-size: 24px;
        padding: 0 25px;
    }
    /* inner h1 */
    .section .inner h1{
        font-size: 40px;
        margin-top: 25px;
    }
    /* section0 -- 표지 */
    #section0 .title{
        width: 70%;
    }
    #section0 .title h2{
        font-size: 54px;
    }
    /* 알파벳 I 위에서 뛰는 놈 */
    #section0 .title>span.dot{
        display: none;
    }
    #section0 .title>a span.scroll{
        padding: 10px;
        font-size: 18px;
        bottom: -140px;
    }
    @keyframes scroll_ani {
        0%{bottom: -140px;}
        50%{bottom: -180px;}
        100%{bottom: -140px;}
    }
    /* about section1 */
    /* 전체 컨텐츠박스 */
    #section1 .inner .sec1_contents{
        flex-direction: column;
    }
    /* 왼(위)쪽 프로필박스 */
    #section1 .inner .left{
        width: 100%;
        height: auto;
        display: flex;
        padding: 40px 0 ;
        border-bottom: 2px solid #FF6813;
    }
    #section1 .inner .left .photo{
        width: 100px;
        height: 125px;
    }
    #section1 .inner .left .photo img{
        border-radius: 20px;
    }
    /* 왼쪽 소개박스 */
    #section1 .inner .left .contact{
        width: 50%;
        height: 20%;
        text-align: center;
        margin: 0;
    }
    #section1 .inner .left .contact li{
        font-size: 16px;
        font-weight: 100;
    }
    #section1 .inner .left .contact li .fa-user,
    #section1 .inner .left .contact li .fa-cake-candles,
    #section1 .inner .left .contact li .fa-phone,
    #section1 .inner .left .contact li .fa-envelope{
        width: 18px;
        margin-right: 5px;
    }
    /* 오른쪽 설명박스 */
    #section1 .inner .right{
        width: 100%;
    }
    /* skill제외 원버튼으로 축소 후 팝업으로 보여주기 */
    #section1 .inner .right .experience{
        border-right: 2px solid #FF6813;
    }
    #section1 .inner .right .experience,
    #section1 .inner .right .career{
        width: 50%;
        padding: 20px;
        border-left: none;
        border-bottom: none;
    }
    #section1 .inner .right .skills{
        width: 100%;
        padding: 20px;
        border-top: 2px solid #FF6813;
        border-left: none;
    }
    /* 셋다 h3 */
    #section1 .inner .right .experience h3,
    #section1 .inner .right .career h3,
    #section1 .inner .right .skills h3{
        font-size: 20px;
        position: relative;
        margin-bottom: 0;
    }
    #section1 .inner .right .experience h3::before,
    #section1 .inner .right .career h3::before,
    #section1 .inner .right .skills h3::before{
        content: '+';
        position: absolute;
        right: 0;
        top: 0;
    }
    /* 경험칸 글씨들 */
    #section1 .inner .right .ezen li{
        font-size: 14px;
        display: none;
    }
    #section1 .inner .right .experience li:nth-child(2),
    #section1 .inner .right .experience li:nth-child(4),
    #section1 .inner .right .experience li:last-child{
        font-family: 'Noto Sans',sans-serif;
        font-size: 12px;
        margin-bottom: 14px;
    }
    #section1 .inner .right ul{
        margin-top: 8px;
    }
    /* career */
    /* 직무 아이콘들 */
    #section1 .inner .right .career>.ezen li:last-child{
        margin-top: 8px;
    }
    #section1 .inner .right .career>.ezen li span{
        width: 25px;
        height: 25px;
        float: left;
        margin-right: 4px;
        margin-top: 0;
    }
    #section1 .inner .right .career>.ezen li span img{
        object-fit: contain
    }
    /* skills */
    /* 그래프 각 하나당 */
    #section1 .inner .right .skills .subjects li{
        font-size: 20px;
        padding: 0 10px;
        gap: 5%;
    }
    /* 항목이름들 */
    #section1 .inner .right .skills .subjects li .title{
        text-align: left;
        width: auto;
    }
    /* project section2 */
    #section2 .sec2_contents{
        width: 95%;
        height: 100vh;
        flex-direction: column;
    }
    /* 그래픽스 갤러리 */
    #section2 .sec2_contents .tab_content{
        width: 95%;
    }
    #section2 .sec2_contents .tab_content .box{
        width: 95%;
        height: 100px;
    }
    /* 두개 탭 */
    #section2 .sec2_contents .tab_content .graphic,
    #section2 .sec2_contents .tab_content .web{
        width: 95%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    /* 칸마다 */
    #section2 .sec2_contents .tab_content .graphic li,
    #section2 .sec2_contents .tab_content .web li{
        width: 40%;
        height: 120px;
    }
    /* 탭 메뉴 */
    #section2 .sec2_contents .tab_menu{
        width: 100%;
    }
    #section2 .sec2_contents .tab_menu ul{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    #section2 .sec2_contents .tab_menu ul li{
        width: 40%;
        border-radius: 10px;
    }
    #section2 .sec2_contents .tab_menu ul li a{
        font-size: 20px;
        font-weight: 100;
        color: #fff;
    }

    /* 반응형 section3 */
    /* 슬라이더 */
    #section3 .slider{
        width: 100%;
        height: 100vh;
        padding: 0 20px;
        margin-left: 0;
        position: relative;
    }
    /* 이전/다음 버튼 */
    #section3 .inner .slider .slick-prev,
    #section3 .inner .slider .slick-next{
        display: none;
        background: none;
    }
    /* 공통사항(콘텐츠) */
    #section3 .slider .content{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        overflow: visible;
    }
    /* 이미지 */
    #section3 .inner .sec3_left_wrap a{
        display: block;
        width: 100%;
        padding: 0;
        height: 50%;
        /* border: 1px solid #fff; */
    }
    #section3 .inner .sec3_left_wrap a img{
        width: 100%;
    }
    /* 설명들 */
    #section3 .inner .sec3_right_wrap{
        flex-wrap: wrap;
        width: 100%;
        height: 280px;
        /* border: 1px solid red; */
    }
    #section3 .inner .sec3_right_wrap .script{
        gap: 8px;
        font-size: 16px;
        margin-top: 30px;
        text-align: center;
    }
    #section3 .inner .sec3_right_wrap .script li>span{
        padding:5px 20px;
        background: #FF6813;
        color: #fff;
        border-radius: 20px;
    }
    /* 넷플릭스 span */
    #section3 .inner .sec3_right_wrap .script li>span.two{
        padding:5px 20px;
        background: #fc3636;
        color: #fff;
        border-radius: 20px;
    }
    /* 바로가기 버튼 */
    #section3 .inner .sec3_right_wrap .sec3_btn{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        width: 95%;
        gap: 10px;
        justify-content: center;
    }
    #section3 .inner .sec3_right_wrap .sec3_btn>button{
        color: #fff;
        background: #FF6813;
        padding: 12px;
        border-radius: 10px;
        font-size: 16px;
    }
    /* 두번째(넷플릭스)버튼컬러 */
    #section3 .inner .sec3_right_wrap .sec3_btn>.twob{
        color: #fff;
        background: #fc3636;
        padding: 12px;
        border-radius: 10px;
        font-size: 16px;
    }


    /* web publishing section4 아직 안함 */


    

};